<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/items">Available Items <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <a class="nav-link" routerLink="/shopping-cart"><img class="shopping-cart-image" src="../../assets/svgs/shopping-cart.svg"> <span class="shopping-cart-count-text">{{shopping_cart_item_count}}</span></a>
    <div class="form-inline my-2 my-lg-0">
      <input (keyup)="filter_items($event)" [(ngModel)]="search_param" class="form-control mr-sm-2" placeholder="Search" aria-label="Search">
    </div>
    <span (click)="on_logout()" class="logout-text ml-2">Logout</span>
  </div>
</nav>
